<form asp-action="add" asp-controller="product" method="post">
    <input type="text" name="productname" placeholder="product name..." required/>
    <br /><br />
    <input type="text" name="price"  placeholder="product price..." required/>
    <br /><br />
    <button class="btn btn-primary">Add</button>
</form>