@model IEnumerable<Product>

<p>Search results:</p>
<table class="table table-striped p-3">
    <tr>
        <th>Product Name</th>
        <th>Price</th>
        <th>Action</th>
    </tr>
    @{
        foreach (var item in Model)
        {
            <tr>
                <td>@item.ProductName</td>
                <td>@item.Price</td>
                <td>
                    <a asp-action="update" asp-controller="product" asp-route-id="@item.ID" class="btn btn-primary">Update</a>
                    <a asp-action="delete" asp-controller="product" asp-route-id="@item.ID" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    }
</table>